# Additional Features to be installed at startup
runtimeFeatures=\
  http,\
  war,\
  kar,\
  cxf-jaxrs,\
  pentaho-client-ee,\
  pentaho-spoon,\
  pdi-platform,\
  pentaho-metaverse,\
  pentaho-dataservice,\
  pdi-data-refinery,\
  common-ui-client-config,\
  pdi-marketplace,\
  pentaho-big-data-ee-plugin-osgi-obf,\
  pentaho-big-data-impl-connections,\
  pentaho-hadoop-cluster-ui

  # Perform shim drivers installation on startup
  installDrivers=true

waitForPlugins=\
NamedClusterServiceNewTransExtensionPoint,\
NamedClusterServiceBeforeJobSaveExtensionPoint,\
NamedClusterServiceMetaLoadExtensionPoint,\
NamedClusterServiceBeforeJobExtensionPoint,\
NamedClusterServicePrepareTransExtensionPoint,\
HIVE2,\
IMPALASIMBA,\
HIVE,\
IMPALA,\
HIVEWAREHOUSE,\
HBaseRowDecoder,\
SPARKSIMBA,\
HBaseOutput,\
HBaseInput,\
HadoopExitPlugin,\
HadoopTransJobExecutorPlugin,\
HadoopEnterPlugin,\
HadoopJobExecutorPlugin,\
OrcOutput,\
ParquetOutput,\
ParquetInput,\
OrcInput,\
OozieJobExecutor,\
HadoopPigScriptExecutorPlugin,\
SparkSubmit,\
HadoopCopyFilesPlugin,\
HdfsLifecycleListener,\
SqoopImport,\
HadoopFileInputPlugin,\
HadoopFileOutputPlugin,\
SqoopExport,\
KettleThin,\
SpoonDataServiceLocalClientConfigurer,\
DataRefineryTransFinishListener,\
DataRefineryBuildModel,\
DATASOURCE_PUBLISH,\
FieldMetadataAnnotation,\
CreateSharedDimensions,\
SpoonBrowserExtensionPoint,\
MarketplaceSpoonPlugin,\
HadoopClusterLifecycleListener,\
ThinHadoopClusterTreeDelegateExtension,\
ThinHadoopClusterEditExtension,\
HadoopClusterPopupMenuExtension
