bin/
/*/dist/
/*/lib/
/*/lib-provided/
stage-pmr/
/*/test-lib/
eclipse-bin/
override.properties
.classpath
.project
.settings
/*/dev-lib/
/pdi-null
/pdi-bin
package-pom.xml
*.class
*.jar
*.war
*.ear
.DS_Store
*.iml
.idea
.idea/workspace.xml
.idea/compiler.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/checkstyle-idea.xml
.idea/codeStyleSettings.xml
*.lck
build
target
release.properties
pom.xml.releaseBackup
checkstyle/