bin/
dist/
api/lib/
cdh3u4/lib/
cdh4/lib/
cdh412/lib/
cdh413/lib/
cdh42/lib/
hadoop-20/lib/
mapr/lib/
mapr21/lib/
mapr212/lib/
mapr213/lib/
mapr30/lib/
mapr31/lib/
lib-provided/
stage-pmr/
test-lib/
eclipse-bin/
override.properties
.settings/
/dev-lib
/pdi-null
/pdi-bin
